mixin main-nav()
    nav.main-nav
        .container
            .main-nav__wrapper
                ul.main-nav__list
                    li.main-nav__item
                        a(href="#").main-nav__link
                            i.main-nav__icon.icon.icon--cup
                            span О компании
                    li.main-nav__item
                        a(href="#").main-nav__link
                            i.main-nav__icon.icon.icon--cart.icon--valign--mid
                            span Покупателям
                    li.main-nav__item
                        a(href="#").main-nav__link
                            i.main-nav__icon.icon.icon--work.icon--valign--mid
                            span Работа в компании
                    li.main-nav__item
                        a(href="#").main-nav__link
                            i.main-nav__icon.icon.icon--portfolio
                            span Партнерам
                    li.main-nav__item
                        a(href="#").main-nav__link
                            i.main-nav__icon.icon.icon--diagram
                            span Инвесторам

                button.button.button--red
                    i.button__icon.icon.icon--plane
                    |Подписаться на рассылку
