include head/head
include header/header
include main-nav/main-nav

doctype html
html(lang="ru")

    block head
        head
            +head({
                "title": "Тестовое задание от CADesign",
                "author": "Roman",
                "description": "Тестовое задание от CADesign"
            })

    BODY
        block header
            +header()
        block main-nav
            +main-nav()
